<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>MeradoLiebre</title>
</head>

<body>

    <!-- Encabezado -->
    <header>
        <main class="header">
            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt=""></a>
            <!-- Buscador -->
            <div class="buscador">
                <input type="text" name="buscar" required placeholder="Buscar porductos, marcas">
                <button><i class="fas fa-search"></i></button>
            </div>

            <!-- Promo -->
            <div class="promo">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>

            <!-- Navegacion -->
            
            <nav class="navegacion">
                <ul class="menu">
                    <div>
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </div>
                    <div>
                        <li><a href="/register"><i class="fas fa-file-invoice"></i> Creá tu cuenta</a></li>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Ingresá</a></li>
                        <li><a href="#"><i class="fas fa-shopping-basket"></i> Mis compras</a></li>
                    </div>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </main>
    </header>

    <!-- Banner -->
    <div class="banners"></div>

    <main class="row">
        <!-- Secion de ULTIMAS VISITAS -->
        <section class="productos">
            <h2 class="titulo">Basado en tu última visita</h2>
            
            <div class="cont-productos">
                <!-- producto 1 -->
                <article class="article-producto producto-shadow">
                    <img class="img-producto" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="datosproductos">
                        <i class="fas fa-truck"></i>
                        <p class="precio-producto">$6.770</p>
                        <p class="descuento-producto">40% OFF</p>
                    </div>
                    <h3 class="descripcion-producto">Cafetera Moulinex</h3> 
                </article>
                <!-- producto 2 -->
                <article class="article-producto producto-shadow">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="datosproductos">
                        <i class="fas fa-truck"></i>
                        <p class="precio-producto">$230.000</p>
                        <p class="descuento-producto">20% OFF</p>
                    </div>
                    <h3 class="descripcion-producto">MacBook Pro 2019</h3>
                </article>
                <!-- producto 3 -->
                <article class="article-producto producto-shadow">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="datosproductos">
                        <i class="fas fa-truck"></i>
                        <p class="precio-producto">$70.500</p>
                        <p class="descuento-producto">10% OFF</p>
                    </div>
                    <h3 class="descripcion-producto">Samsung Galaxy S10</h3>
                </article>
                <!-- producto 4 -->
                <article class="article-producto producto-shadow">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="datosproductos">
                        <i class="fas fa-truck"></i>
                        <p class="precio-producto">$23.200</p>
                        <p class="descuento-producto">5% OFF</p>
                    </div> 
                    <h3 class="descripcion-producto">SmartTv Samsung 43"</h3>       
                </article>
            </div>
        </section>

        <!-- Secion de OFERTAS-->
        <section class="productos">
            <h2 class="titulo">Ofertas</h2>
            <div class="cont-productos">
                <!-- producto 1 -->
                <article class="article-producto producto-shadow">                
                    <img class="img-producto" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="datosproductos">
                        <i class="fas fa-truck"></i>
                        <p class="precio-producto">$6.770</p>
                        <p class="descuento-producto">40% OFF</p>
                    </div>
                    <h3 class="descripcion-producto">Cafetera Moulinex</h3>
                </article>
                <!-- producto 2 -->
                <article class="article-producto producto-shadow">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="">      
                    <div class="datosproductos">
                        <i class="fas fa-truck"></i>
                        <p class="precio-producto">$230.000</p>
                        <p class="descuento-producto">20% OFF</p>
                    </div>  
                    <h3 class="descripcion-producto">MacBook Pro 2019</h3> 
                </article>
                <!-- producto 3 -->
                <article class="article-producto producto-shadow">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="datosproductos">
                        <i class="fas fa-truck"></i>
                        <p class="precio-producto">$70.500</p>
                        <p class="descuento-producto">10% OFF</p>
                    </div>
                    <h3 class="descripcion-producto">Samsung Galaxy S10</h3>    
                </article>
                <!-- producto 4 -->
                <article class="article-producto producto-shadow">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="datosproductos">
                        <i class="fas fa-truck"></i>
                        <p class="precio-producto">$23.200</p>
                        <p class="descuento-producto">5% OFF</p>
                    </div>
                    <h3 class="descripcion-producto">SmartTv Samsung 43"</h3> 
                </article>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <main class="footer">
            <!-- Pagar con Tarjetas -->
            <section class="f-33">
                <i class="fas fa-credit-card"></i>
                <h3> Pagá con tarjeta o en efectivo </h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <!-- Envío -->
            <section class="f-33">
                <i class="fas fa-gift"></i>
                <h3> Envío gratis desde $ 2.500 </h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <!-- Seguridad -->
            <section class="f-33">
                <i class="fas fa-user-shield"></i>
                <h3> Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>

            <!-- Derechos de autor -->
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </main>
    </footer>
</body>
</html>