<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>MeradoLiebre</title>
</head>

<body>

    <!-- Encabezado -->
    <header>
        <main class="header">
            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt=""></a>
            <!-- Buscador -->
            <div class="buscador">
                <input type="text" name="buscar" required placeholder="Buscar porductos, marcas">
                <button><i class="fas fa-search"></i></button>
            </div>

            <!-- Promo -->
            <div class="promo">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>

            <!-- Navegacion -->
            
            <nav class="navegacion">
                <ul class="menu">
                    <div>
                        <li><a href="/">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </div>
                    <div>
                        <li><a href="/register"><i class="fas fa-file-invoice"></i> Creá tu cuenta</a></li>
                        <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Ingresá</a></li>
                        <li><a href="#"><i class="fas fa-shopping-basket"></i> Mis compras</a></li>
                    </div>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </main>
    </header>

    <main>
        <section>
            

            <div class="u-form" >
                <h1>Registrarse</h1>
            <form class="formulario-registro" action="/register">
                <div class="u-form-group-2">
                    <label for="nombre">Nombre y Apellido:</label>
                        <input type="text" id="nombre" name="nombre" class="u-input">
                    
                </div>
                <div class="u-form-group-2">
                    <label for="usuario">Nombre de Usuario:</label>
                        <input type="text" id="usuario" name="usuario" class="u-input">
                    
                </div>
                <div class="u-form-group">
                    <label for="fecha">Fecha de Nacimiento:</label>
                        <input type="date" id="fecha" name="fecha" class="u-input">
                    
                </div>
                <div class="u-form-group">
                    <label for="usuario">Domicilio:</label>
                        <input type="text" id="domicilio" name="domicilio" class="u-input">
                    
                </div>
                <div class="u-form-group-radio">
                    <label for="rol">Seleccionar rol:</label>
                    <div class="u-form-radio-button">
                        <div class="u-input-row">
                            <label class="u-form-radio"></label>
                            <input class="u-input-radio" type="radio" id="comprador" name="rol" value="comprador" checked>Comprador
                        </div>
                        <div class="u-input-row">
                            <label class="u-form-radio"></label>
                            <input class="u-input-radio" type="radio" id="vendedor" name="rol" value="vendedor">Vendedor
                        </div>
                    </div>
                </div>

                <div class="u-form-group-radio">
                                  
                    <label for="cat">Categorías de interes:</label>
                        <div class="u-input-row"> 
                            <input type="checkbox" id="electro" name="elctro" value="Electro">
                            <label for="electro"> Electro</label>
                        </div>
                        <div class="u-input-row">
                            <input type="checkbox" id="moda" name="Moda" value="moda">
                            <label for="moda"> Moda</label>
                        </div>
                        <div class="u-input-row">
                            <input type="checkbox" id="hogar" name="hogar" value="hogar">
                            <label for="hogar"> Hogar</label>
                        </div>
                        <div class="u-input-row">
                            <input type="checkbox" id="jugueteria" name="jugueteria" value="jugueteria">
                            <label for="jugueteria"> Jugueteria</label>
                        </div>
                        <div class="u-input-row">
                            <input type="checkbox" id="vidasana" name="vidasana" value="vidasana">
                            <label for="vidasana"> Vida Sana</label>
                        </div>
                </div>

                <div class="u-form-group">
                    <label for="foto">Imagen de Perfil:</label>
                    <input type="file" id="foto" name="foto">
                </div>
                <div class="u-form-group-2">
                    <label for="pass">Contraseña:</label>
                    <input type="password" id="pass" name="pass" class="u-input">
                </div>
                <div class="u-form-group-2">
                    <label for="cpass">Confirmar Contraseña:</label>
                    <input type="password" id="cpass" name="cpass" class="u-input">
                </div>
                <div class="u-form-group botones">
                    <input class="boton" type="submit" name="">
                    <input class="boton" type="reset">
                </div>
                
            </form>

          </div>


        </section>
    </main>

    <!-- Footer -->
    <footer>
        <main class="footer">
            <!-- Pagar con Tarjetas -->
            <section class="f-33">
                <i class="fas fa-credit-card"></i>
                <h3> Pagá con tarjeta o en efectivo </h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <!-- Envío -->
            <section class="f-33">
                <i class="fas fa-gift"></i>
                <h3> Envío gratis desde $ 2.500 </h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>

            <!-- Seguridad -->
            <section class="f-33">
                <i class="fas fa-user-shield"></i>
                <h3> Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>

            <!-- Derechos de autor -->
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </main>
    </footer>
</body>
</html>